
.DS_Store
Pokehelp.xcworkspace/xcuserdata/guess.xcuserdatad/UserInterfaceState.xcuserstate
Pods/Pods.xcodeproj/xcuserdata/guess.xcuserdatad/xcschemes/Pods-Pokehelp-PokehelpUITests.xcscheme
Pods/Pods.xcodeproj/xcuserdata/guess.xcuserdatad/xcschemes/Pods-Pokehelp.xcscheme
Pods/Pods.xcodeproj/xcuserdata/guess.xcuserdatad/xcschemes/Pods-PokehelpTests.xcscheme
Pods/Pods.xcodeproj/xcuserdata/guess.xcuserdatad/xcschemes/xcschememanagement.plist
